---
import Layout from '@layouts/Layout.astro'

import Renderer from '@components/Renderer.astro'
import Settings from '@components/Settings.astro'
import Header from '@components/Header.astro'
---

<Layout title="Milo v1.5 - Color Preview">
	<Header />

	<main class="col-[full] grid grid-cols-subgrid">
		<section class="col-[full] grid grid-cols-subgrid">
			<Renderer />
		</section>
		<section class="col-[full] grid grid-cols-subgrid">
			<Settings />
		</section>
	</main>
</Layout>
