---
import Layout from '@layouts/Layout.astro'

import Renderer from '@components/Renderer.astro'
import Settings from '@components/Settings.astro'
---

<Layout title="Milo v1.5 - Color Preview">
	<main>
		<section>
			<Settings />
		</section>
		<section>
			<Renderer />
		</section>
	</main>
</Layout>

<style>
	main {
		margin: 1rem auto;
		padding: 10px;
		max-width: 1024px;
		line-height: 1.6;
		background: white;

		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	section {
		display: flex;
	}
</style>