---
import Layout from '../layouts/Layout.astro'

import Viewer from '../components/Renderer.astro'
import Settings from '@components/Settings.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<Settings />
		<Viewer />
	</main>
</Layout>

<style>
	main {
		margin: 1rem auto;
		padding: 10px;
		max-width: 1024px;
		line-height: 1.6;
		background: white;

		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	aside {
		display: flex;
		gap: 2rem;
	}
</style>
../components/Settings/Settings../components/Settings/Form