---
import { Image } from 'astro:assets';
import GitHub from "./Header/github-mark/github-mark-white.svg"
---

<header class="col-[full] grid grid-cols-subgrid min-h-10 text-shark-800 bg-accent shadow-md mb-8">
  <div class="col-[feature] flex flex-row *:flex-grow">
    <div class="flex items-center text-on-accent">
      <h1 class="text-xl font-bold"><a href="">Milo v1.5 - Color Preview</a></h1>
    </div>

    <nav class="flex flex-row justify-end">
      <ul class="flex flex-row gap-4 justify-end bg-current place-items-center *:px-4 *:py-2">
        <li>
          <a href="https://github.com/Burgestrand/milo-web-preview" target="_blank" class="flex flex-row gap-2 place-items-center text-white">
            <Image src={GitHub} alt="GitHub" class="size-6" />
            <span>Source Code</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>