---
---

<div class="col-[feature] bg-shark-800 p-4">
	<canvas id="renderer-canvas" class="
		border-2 border-shark-400
		box-content w-full aspect-video
	"></canvas>
</div>

<script>
	import Renderer from '@components/Renderer/Renderer'

	const renderer = new Renderer({
		model: "./CAD.glb",
		canvas: document.querySelector("#renderer-canvas")
	})

	renderer.start()
</script>