---
export interface IProgressBar extends HTMLElement {
  progress: number
}
---

<progress-bar {...Astro.props}>
  <div class="inline-flex w-full min-h-4 bg-white border-2 rounded-xl overflow-clip" data-background>
    <span class="bg-orange-500 transition-all" data-progress />
  </div>
</progress-bar>

<script>
  class ProgressBar extends HTMLElement implements IProgressBar {
    static observedAttributes = ["progress"]

    get #bar() {
      return this.querySelector("[data-progress]")
    }

    get progress() {
      return parseFloat(this.getAttribute("progress"))
    }

    set progress(value: number) {
      this.setAttribute("progress", value.toFixed(0))
    }

    attributeChangedCallback(name, oldValue, newValue) {
      if (name === "progress") {
        this.#bar.style.width = `${newValue}%`
      }
    }
  }

  customElements.define("progress-bar", ProgressBar)
</script>
