---
---

<progress-bar {...Astro.props}>
  <div class="inline-flex w-full min-h-4 bg-white border-2 rounded-xl overflow-clip" data-background>
    <span class="bg-orange-500 transition-all" data-progress />
  </div>
</progress-bar>

<script>
  import ProgressBar from "./ProgressBar/ProgressBar.ts"

  customElements.define("progress-bar", ProgressBar)
</script>
