---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-shark-950">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		--gap: clamp(1rem, 6vw, 3rem);
		--full: minmax(var(--gap), 1fr);
		--content: min(50ch, 100% - var(--gap) * 2);
		--popout: minmax(0, 5rem);
		--feature: minmax(0, 14rem);

		display: grid;
		grid-template-columns:
			[full-start] var(--full)
				[feature-start] var(--feature)
					[popout-start] var(--popout)
						[content-start] var(--content) [content-end]
					var(--popout) [popout-end]
				var(--feature) [feature-end]
			var(--full) [full-end];
	}
</style>
